html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif; 
  background-color: #f0f4f4;
}

.nav {
  background-color: #066a95;
  border-bottom: 2px solid #066a95;
  padding: 0px 30px;
  display: flex;
  justify-content: space-between;
  color: #ecf0f1;
  align-items: center;
}

.nav p{
  margin: 10px 15px;
}

.aside {
  background-color: #0884c4;
  border-right: 2px solid #0884c4;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 40px);
  width: 150px;
}

.aside .main-buttons{
  flex-direction: column;
  margin: 0;
  width: 120px;
  padding: 1px 8px;
}

.aside .main-buttons p, .create-btn{
  font-size: 12px;
  border-radius: 50px;
  padding: 5px;
  color: white;
  cursor: pointer;
  text-align: left;
}

.aside .main-buttons p:hover, .create-btn:hover{
  background-color: white;
  color: #0884c4;
}

.search-bar {
  display: flex;
  background-color: white;
  border-radius: 50px;
  align-items: center;
  width: 135px;
  margin-left: 5px;
}

.search-icon {
  color: #0884c4;
  margin-left: 5px;
  width: 10%;
}

.search-input {
  border: none;
  outline: none;
  font-size: 12px;
  border-radius: 20px;
  padding: 5px;
  width: 90%;
  color: #0884c4;
}

.aside .aux-buttons{
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.aside .aux-buttons p {
  background-color: #066a95;
  border: none;
  border-radius: 50px;
  font-size: 12px;
  color: #ecf0f1;
  padding: 10px;
  margin: 10px 5px;
}

.aside .aux-buttons p:hover{
  background-color: rgb(175, 175, 175);
}

.main {
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); 
  grid-gap: 20px; 
  padding: 20px;
  margin-left: 150px;
  height: calc(100vh - 122px);
  overflow-y: auto;
}


/* MODAL */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #65b4db;
  padding: 30px;
  border-radius: 10px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #034f74;
  height: 0;
  padding: 20px 0;
}

.modal-body{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.title-input {
  color: #0884c4;
  font-size: 15px;
  margin: 0;
}


.left-section {
  margin-right: 20px;
  /* background-color: green; */
}

.modal-name-input {
  background-color: white;
  width: 100%;
  color: #0884c4;
  border: none;
  border-radius: 50px;
  border-bottom: 1px solid #0884c4;
  margin-bottom: 20px;
  padding: 5px 10px ;
  font-size: 15px;
  outline: none;
}

.modal-tasks {
  width: 100%;
  height: 80%;
  /* background-color: yellow; */
}

.add-controller {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
  /* background-color: violet; */
}

.button {
  background-color: #0884c4;
  color: white;
  border-radius: 50px;
  outline: none;
  border: none;
  font-size: 15px;
  width: auto;
  padding: 5px 15px;
  margin: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; 
}

.button:hover {
  background-color: #034f74;
  cursor: pointer;
}

.add-controller input {
  background-color: white;
  color: #0884c4;
  outline: none;
  border: none;
  width: 100%;
  border-radius: 50px;
  padding: 5px 10px;
  font-size: 15px;
  border-bottom: 1px solid #0884c4;
  /* margin-bottom: 10px; */
}

.task-container {
  padding: 0 10px;
  background-color: white;
  border-radius: 10px;
  min-height: 200px;
  max-height: 335px;
  overflow-y: auto;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #0884c4;
  font-size: 12px;
  padding: 0;
  height: 40px;
  width: 100%;
}

.right-section .description textarea {
  height: 120px;
  border-radius: 5px;
  padding: 5px;
  resize: none;
  border: none;
  background-color: white;
  color: #0884c4;
  outline: none;
}