html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif; 
  background-color: #f0f4f4;
}

.nav {
  background-color: #066a95;
  border-bottom: 2px solid #066a95;
  padding: 0px 30px;
  display: flex;
  justify-content: space-between;
  color: #ecf0f1;
  align-items: center;
}

.aside {
  background-color: #0884c4;
  border-right: 2px solid #0884c4;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 40px);
}

.aside .action-btn{
  color: #ecf0f1;
  flex-direction: column;
  padding: 10px;
  width: 120px;
}

.aux-buttons button {
  background-color: #95a5a6;
  border: none;
  border-radius: 50px;
  width: 40px;
  height: 40px;
}

.main {
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); 
  grid-gap: 10px; 
  padding: 20px;
  margin-left: 130px;

  height: calc(100vh - 93px);
  overflow-y: auto;
}
