html,
body {
  height: 100vh;
  margin: 0;
  background-color: #F8FDFF;
  overflow: hidden;
  font-family: "Kanit", serif;
  font-weight: 400;
  font-style: normal;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

button:hover {
  cursor: pointer;
}

button:active {
  transform: scale(0.98);
  /* Reduce el tamaño del botón un poco */
  transition: transform 0.2s ease;
}

.blue-button {
  background-color: #3B82F6;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
}

.blue-button:hover {
  background-color: #25539d;
  cursor: pointer;
}

.black-button {
  background-color: #1E1E1E;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #1E1E1E;
}

.black-button:hover {
  background-color: #ffffff;
  border: 1px solid #d3d3d3;
  color: #1E1E1E;
  cursor: pointer;
}

.white-button {
  background-color: #ffffff;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  color: #1E1E1E;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
}

.white-button:hover {
  background-color: #1E1E1E;
  color: #ffffff;
  cursor: pointer;
}


.nav {
  background-color: #ffffff;
  padding: 0px 30px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  color: #1E1E1E;
  align-items: center;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.nav .icon-cloud {
  color: #2f68c3;
  font-size: 30px;
}

#nav-mobile {
  display: none;
}

.container-nav-user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav .greeting {
  font-size: 15px
}

.container-nav-user-mobile {
  background-color: yellow;
  padding: 10px;
  position: absolute;
  display: none;
  /* Por defecto no se muestra */
}


.content {
  display: flex;
  justify-content: space-between;
}

.main-content-items {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 95vh;
  overflow: auto;
  padding-left: 3%;
  padding-right: 1%;
}

.menu {
  display: flex;
  justify-content: space-between;
  color: #1E1E1E;
  margin-top: 10px;
  margin-bottom: 10px;
}

.menu-project {
  display: flex;
  justify-content: space-between;
  color: #1E1E1E;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.menu-group {
  display: flex;
  gap: 10px;
  align-items: center;
}

.menu p {
  height: auto;
  margin: 0;
}


.progress-1,
.progress-2,
.progress-3 {
  min-width: 50px;
  width: auto;
  height: 25px;
  display: flex;
   align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.progress-1 {
  background-color: #DBEAFE;
  color: #172a60;
}

.progress-2 {
  background-color: #FEF9C3;
  color: #854D0E;
}

.progress-3 {
  background-color: #D1FAE5;
  color: #065F46;
}

.aside {
  width: 20%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
  transition: width 0.3s ease;
  box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.2);
  overflow: auto;
}

.side-bar-project {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 17%);
  padding: 20px;
  overflow-y: auto;
  transition: width 0.3s ease;
}

.aside .card-section {
  background-color: #ffffff;
  border: .5px solid #d6d6d6;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  gap: 10px;
}

.files-items {
  display: flex;
  flex-direction: column;
  max-height: 100px;
  overflow-y: auto;
  gap: 10px;
  padding-left: 7px;
  padding-right: 7px;
}

.file-item {
  display: flex;
  justify-content: space-between;
}

.icon-namedoc {
  display: flex;
  width: 90%;
  gap: 5px;
  word-wrap: break-word;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.members {
  color: #ffffff;
  display: flex;
  gap: 5px;
}

.member {
  background-color: #1E1E1E;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  display: flex;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.stadistic-item {
  display: flex;
  justify-content: space-between;
}

.deadline-section {
  display: flex;
  flex-direction: column;
  height: auto;
  gap: 10px;
  margin-bottom: 50px;
}

.deadline-section p {
  margin: 1px;
  color: #7d7d7d;
  align-items: center;
}

.aside .card-section h2 {
  margin: 0;
  padding: 5px;
}

.aside .card-section p {
  margin-top: 0;
  font-size: 12px;
}



.subtitle-label {
  font-size: 10px;
}

.deadline-list {
  display: flex;
  justify-content: space-between;
}


.main {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: min-content;
  grid-gap: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}

.cards-sections {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-section p {
  margin: 0;
  padding: 0;
}

.card-section {
  background-color: #ffffff;
  border-radius: 5px;
  border: .5px solid #d6d6d6;
  padding: 15px;
  color: #1E1E1E;
  box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.2);
  /* Desplazamiento horizontal, vertical, desenfoque, color */
}

.task-items {
  display: flex;
  gap: 10px;
  align-items: center;
}

.card-task {
  width: 100%;
}

.card-task-info {
  background-color: #f3f3f3;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-task-description {
  background-color: #c0d8ff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.control-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.control-buttons button {
  width: 100%;
}

/* .control-buttons button {
  width: 100%;
  background-color: #1E1E1E;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 5px;
} */

/* .control-buttons button:hover {
  background-color: #ffffff;
  color: #1E1E1E;
  cursor: pointer;
} */

.comments-list {
  padding: 2px;
  padding-bottom: 10px;
  max-height: 115px;
  overflow-y: auto;
}

/* .comment{  
} */

.comment-adding {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.comment-adding input {
  width: 100%;
  outline: none;
}

/* Modal */
.modal-content {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  min-width: 250px;
  max-width: 450px;
}

.input-label {
  display: flex;
  height: auto;
  width: 100%;
  align-items: center;
  gap: 10px;
}

.input-label p {
  width: 30%;
}

.input-label input[type="text"],
.input-label input[type="date"] {
  font-size: .9em;
  color: #1E1E1E;
}

.description-textarea {
  width: 100%;
  height: 100px;
  padding: 8px;
  resize: none;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  line-height: 1.5;
}



/* ---MODAL--- */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* .modal-content {
  display: flex;
  background-color: #2D2D2D;
  padding: 20px;
  border-top: none;
  border-radius: 5px 5px 5px 50px;
  width: auto;
  flex-direction: column;
  justify-content: space-between;
} */

.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 0;
  margin-bottom: 20px;
  padding-top: 10px;
}

.modal-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80%;
  gap: 10px;
}

.modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.left-section {
  width: 100%;
}

.label-input {
  color: white;
  font-size: 15px;
  margin: 0;
}

.title-input {
  color: white;
  font-size: 15px;
  margin: 0;
  width: 100%;
}

.modal-name-input {
  background-color: white;
  width: 100%;
  color: #2D2D2D;
  border: none;
  border-radius: 5px 5px 20px 5px;
  padding: 5px;
  font-size: 15px;
  margin-bottom: 20px;
  outline: none;
}

.modal-tasks {
  width: 100%;
  height: 80%;
}

.add-controller {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.button {
  background-color: #0884c4;
  color: white;
  border-radius: 50px;
  outline: none;
  border: none;
  font-size: 15px;
  width: auto;
  height: 20px;
  padding: 5px 15px;
  margin: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button:hover {
  background-color: #034f74;
  cursor: pointer;
}

textarea,
input {
  border-radius: 5px;
  border: 1px solid #b7b7b7;
  padding-left: 4px;
  outline: none;
  color: #1E1E1E;
  font-family: "Kanit", serif;
}

.add-controller input {
  background-color: white;
  color: #2D2D2D;
  outline: none;
  border: none;
  width: 100%;
  border-radius: 50px;
  padding: 5px 10px;
  font-size: 15px;
  border-bottom: 1px solid #0884c4;
}

.task-container {
  padding: 0 10px;
  background-color: white;
  border-radius: 10px;
  height: 290px;
  overflow-y: auto;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #0884c4;
  font-size: 12px;
  padding: 0;
  height: 40px;
  width: 100%;
}

.right-section .description textarea {
  height: 120px;
  border-radius: 5px;
  padding: 5px;
  resize: none;
  border: none;
  background-color: white;
  color: #0884c4;
  outline: none;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
}

.main-tasks {
  display: flex;
  flex-direction: column;
  flex-wrap: 20px;
  gap: 10px;
  width: 98%;
  padding-left: 10px;
  padding-right: 10px;
}

.suggestions-list,
.members-list {
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0 0;
  max-height: 150px;
  /* Ajusta la altura máxima */
  overflow-y: auto;
  /* Añade desplazamiento si es necesario */
  border: 1px solid #b7b7b7;
  border-radius: 5px;
}

.suggestions-list li,
.members-list li {
  padding: 8px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.suggestions-list li:hover,
.members-list li:hover {
  background-color: #f0f0f0;
  color: #1E1E1E;
}

.remove-member {
  color: #1E1E1E;
  cursor: pointer;
}


  /* Dispositivos con un ancho máximo de 768 píxeles */
  @media (max-width: 768px) {

    html,
    body {
      height: 100%;
      overflow-y: auto;
    }

    /* .container-nav-user {
    display: none;
  }

  .container-nav-user-mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    background-color: #ffffff;
    transform: translate(-15px, 48.5vh);
    width: 65%;
    height: calc(100vh - 10%);
    z-index: 10;
    padding: 10px;
    margin: 0;
    box-shadow: 0px 4px 15px 0px #1E1E1E;
  } */


    .nav {
      padding: 0px 15px;
    }

    #nav-lg {
      display: none;
    }

    #nav-mobile {
      display: block;

    }

    .content {
      width: 100%;
      padding: 0px;
      flex-direction: column;
      overflow-y: auto;
    }

    .menu-project {
      display: flex;
      flex-direction: column;
    }

    .main-content-items {
      width: 94%;
      padding: 10px;
      padding-bottom: 10px;
      height: auto;
    }

    .main {
      padding: 0;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-auto-rows: min-content;
      grid-gap: 20px;
      height: 500px;
    }

    .card-section {
      padding: 7px;
    }

    .main-tasks {
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding: 0px;
      width: 99%;
      overflow-y: hidden;
      overflow-x: hidden;
    }

    .card-task {
      background-color: #f3f3f3;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: 1px solid #ddd;
      border-radius: 8px;
    }

    .card-task-description {
      background-color: #c0d8ff;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .aside {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 94.5%;
      padding: 10px;
      height: auto;
    }

    .side-bar-project {
      width: 94%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: calc(100vh - 17%);
      overflow-y: auto;
    }

    .cards-sections {
      color: #1E1E1E;
    }

    .modal-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 80%;
      gap: 10px;
    }

    .deadline-section {
      padding-bottom: 30px;
    }
  }

  /* tablets */
  @media (max-width: 768px) {}