.container {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100vh;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #FFFFFF;
  margin: 50px;
  width: 250px;
  height: 80vh;
  border-radius: 5px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.main-content h1 {
  font-size: 1.5rem;
  color: #1E1E1E;
}

.label-input {
  color: #1E1E1E;
  height: auto;
} 

.main-content input {
  width: 95%;
  padding: 3px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

input[type="text"],
input[type="password"] {
  font-size: .9em;
  color: #1E1E1E;
}

.btn-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content button {
  width: 100px;
  padding: 5px;
  background-color: #3B82F6;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.main-content button:hover {
  background-color: #363636;
}

.main-content p {
  font-size: .8rem;
  color: #979797;
}

.main-content p span {
  color: #979797;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

.main-content h3 span:hover {
  color: #363636;
}

.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #fff;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
  /* Centrar el spinner */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}