.main-tasks {
  /* background-color: #a52f2f; */
  display: flex;
  flex-direction: column;
  flex-wrap: 20px;
  /* padding: 20px; */
  gap: 10px;
  width: 98%;
  padding-left: 10px;
  padding-right: 10px;
}
