.subtask-card {
  background-color: #256a98;
  color: white;
  padding: 10px;
  width: 140px;
  margin: 4px 4px 0 0;
  border-radius: 5px;
  border: none;
}

.subtask-card h4 {
  color: #ecf0f1;
  font-size: 1.1rem;
  margin: 0;
}

.subtask-card p {
  background-color: #629bc1;
  border-radius: 5px;
  padding: 5px;
  margin: 0;
  color: #ecf0f1;
  font-size: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subtask-card .action-btn button{
  background-color: transparent;
  font-size: 15px;
  border-style: none;
  color: white;
  height: 100%;
}

.subtask-card .action-btn button:hover {
  color: black;
}