.task-card {
  background-color: #2980b9;
  border-radius: 8px;
  padding: 5px;
  width: 150px;
}

.task-info .task-name{
  height: 25px;
  font-size: 15px;
}

.task-card p {
  background-color: #ecf0f1;
  color: #2c3e50;
  font-size: 12px;
  width: 100%;
  height: 60px;
  border-radius: 3px;
}

.action-btn{
  justify-content: space-evenly;
}

.action-btn button{
  background-color: transparent;
  font-size: 15px;
  border-style: none;
  color: white;
  height: 100%;
}

.action-btn button:hover{
  color: black;
}

.progress-bar{
  width: 100%;
}

.progress-bar-fill {
  background-color: #1abc9c;
  width: 100%;
}
